/* Dark mode colors. */ :root {
  --sl-color-accent-low: #0a2c14;
  --sl-color-accent: #008038;
  --sl-color-accent-high: #aed4b4;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eceef2;
  --sl-color-gray-2: #c0c2c7;
  --sl-color-gray-3: #888b96;
  --sl-color-gray-4: #545861;
  --sl-color-gray-5: #353841;
  --sl-color-gray-6: #24272f;
  --sl-color-black: #17181c;
}

/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #c3e0c8;
  --sl-color-accent: #008239;
  --sl-color-accent-high: #003e18;
  --sl-color-white: #17181c;
  --sl-color-gray-1: #24272f;
  --sl-color-gray-2: #353841;
  --sl-color-gray-3: #545861;
  --sl-color-gray-4: #888b96;
  --sl-color-gray-5: #c0c2c7;
  --sl-color-gray-6: #eceef2;
  --sl-color-gray-7: #f5f6f8;
  --sl-color-black: #ffffff;
}

/* Hover row background for table rows. */
table tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.05);
  color: var(--sl-color-white);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

:root[data-theme="light"] table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
