---
import { Icon } from '@astrojs/starlight/components'
import Default from '@astrojs/starlight/components/Footer.astro'
import type { Props } from '@astrojs/starlight/props'
---

<Default {...Astro.props} />

<section class="sl-flex">
  <a href="https://github.com/MedPocket" class="sl-flex">
    <Icon name="heart" size="1.2em" /> by MedPocket
  </a>
</section>

<style>
  section {
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem 1.5rem;
    font-size: var(--sl-text-sm);
  }

  a {
    align-items: center;
    text-decoration: none;
    gap: 0.5rem;
    color: var(--sl-color-gray-3);
  }

  a:hover {
    color: var(--sl-color-white);
  }
</style>
